#primeiraParte {
    background-image: url("../../assets//img/banner-naturalar.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    background-position: 20% 40%;
    padding: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    align-items: center;
    
}

