#primeiraParte {
    background-image: url("../../assets//img/banner-naturalar.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100vh;
    background-position: 20% 40%;
    padding: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    align-items: center;
    
}

#titulo{
    color:hsl(94, 89%, 22%);
    font-size: 2.5rem;
    font-weight: 400;
}

.p-home{
    font-size: 1.2rem;
    width: 70%;
}

.btn-home{
    background-color:hsl(94, 89%, 22%);
    border-radius: 0.5rem;
    color:white;
    padding: 4rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top:4rem;
    text-transform: uppercase;
    font-weight: bold;
    
}